In [23]:
import pandas as pd
import numpy as np
import openpyxl as px

path = "../../data/uncleaned_bike_sales_data.xlsx"
df = pd.read_excel(path)
df

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,261778,2021-12-22,22.0,December,2021,41,Adults (35-64),M,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
85,261779,2021-12-23,23.0,December,2021,30,Young Adults (25-34),F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
86,261780,2021-12-23,23.0,December,2021,31,Young Adults (25-34),F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295
87,261781,2021-12-23,23.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295,540,245,295,540
88,261782,2021-12-24,24.0,December,2021,38,Adults (35-64),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 42",4.0,1252,2295,4172,5008,9180

In [24]:
df.dropna(inplace=True)

In [25]:
df

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,2021-12-01,1.0,December,2021,39,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252,2295,4172,5008,9180
1,261695,2021-12-01,1.0,December,2021,44,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
2,261697,2021-12-02,2.0,December,2021,37,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420,769,698,840,1538
3,261698,2021-12-02,2.0,December,2021,31,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420,769,349,420,769
4,261699,2021-12-03,3.0,December,2021,37,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0,2295,2086,0,4590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,261778,2021-12-22,22.0,December,2021,41,Adults (35-64),M,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266,2320,1054,1266,2320
85,261779,2021-12-23,23.0,December,2021,30,Young Adults (25-34),F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266,2320,1054,1266,2320
86,261780,2021-12-23,23.0,December,2021,31,Young Adults (25-34),F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252,2295,1043,1252,2295
87,261781,2021-12-23,23.0,December,2021,35,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295,540,245,295,540
88,261782,2021-12-24,24.0,December,2021,38,Adults (35-64),M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 42",4.0,1252,2295,4172,5008,9180

In [26]:
df.isnull().sum()

Sales_Order #          0
Date                   0
Day                    0
Month                  0
Year                   0
Customer_Age           0
Age_Group              0
Customer_Gender        0
Country                0
State                  0
Product_Category       0
Sub_Category           0
Product_Description    0
Order_Quantity         0
 Unit_Cost             0
 Unit_Price            0
 Profit                0
 Cost                  0
Revenue                0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 0 to 88
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_Order #        85 non-null     int64
 1   Date                 85 non-null     datetime64[ns]
 2   Day                  85 non-null     float64
 3   Month                85 non-null     object
 4   Year                 85 non-null     int64
 5   Customer_Age         85 non-null     int64
 6   Age_Group            85 non-null     object
 7   Customer_Gender      85 non-null     object
 8   Country              85 non-null     object
 9   State                85 non-null     object
 10  Product_Category     85 non-null     object
 11  Sub_Category         85 non-null     object
 12  Product_Description  85 non-null     object
 13  Order_Quantity       85 non-null     float64
 14   Unit_Cost           85 non-null     int64
 15   Unit_Price          85 non-null     int64
 16   Profit              85 non-null     int64
 17   Cost                85 non-null     int64
 18  Revenue              85 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(8)
memory usage: 13.3+ KB

In [28]:
df[df.duplicated()]

Empty DataFrame
Columns: [Sales_Order #, Date, Day, Month, Year, Customer_Age, Age_Group, Customer_Gender, Country, State, Product_Category, Sub_Category, Product_Description, Order_Quantity,  Unit_Cost ,  Unit_Price ,  Profit ,  Cost , Revenue]
Index: []

In [29]:
df.columns

Index(['Sales_Order #', 'Date', 'Day', 'Month', 'Year', 'Customer_Age',
       'Age_Group', 'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product_Description', 'Order_Quantity', ' Unit_Cost ',
       ' Unit_Price ', ' Profit ', ' Cost ', 'Revenue'],
      dtype='object')

In [ ]:
df['Day'] = df['Day'].astype(int)
df['Order_Quantity'] = df['Order_Quantity'].astype(int)

In [34]:
#columns_with_spaces = {' Unit_Cost ':'Unit_Cost', ' Unit_Price ':'Unit_Price', ' Profit ':'Profit', ' Cost ':'Cost'}
#df.rename(columns_with_spaces, inplace=True)
df.columns = df.columns.str.strip()

In [35]:
df.columns

Index(['Sales_Order #', 'Date', 'Day', 'Month', 'Year', 'Customer_Age',
       'Age_Group', 'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product_Description', 'Order_Quantity', 'Unit_Cost',
       'Unit_Price', 'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [38]:
df['Day'] = df['Day'].astype(int)
df['Order_Quantity'] = df['Order_Quantity'].astype(int)
df['Unit_Price'] = df['Unit_Price'].astype(float)
df['Unit_Cost'] = df['Unit_Cost'].astype(float)
df['Profit'] = df['Profit'].astype(float)
df['Cost'] = df['Cost'].astype(float)
df['Revenue'] = df['Revenue'].astype(float)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 0 to 88
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_Order #        85 non-null     int64
 1   Date                 85 non-null     datetime64[ns]
 2   Day                  85 non-null     int64
 3   Month                85 non-null     object
 4   Year                 85 non-null     int64
 5   Customer_Age         85 non-null     int64
 6   Age_Group            85 non-null     object
 7   Customer_Gender      85 non-null     object
 8   Country              85 non-null     object
 9   State                85 non-null     object
 10  Product_Category     85 non-null     object
 11  Sub_Category         85 non-null     object
 12  Product_Description  85 non-null     object
 13  Order_Quantity       85 non-null     int64
 14  Unit_Cost            85 non-null     float64
 15  Unit_Price           85 non-null     float64
 16  Profit               85 non-null     float64
 17  Cost                 85 non-null     float64
 18  Revenue              85 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(5), object(8)
memory usage: 13.3+ KB